body {
	background: url(http://static1.grsites.com/archive/textures/beige/beige001.jpg);
	font: 1em Arial;
}

/*.square {
	width: 60px;
	height: 60px;
	background: #333;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	animation-name: spin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: normal;
}

.square:hover {
	animation-play-state: paused;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
*/

.container {
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	background: #999;
	border-radius: 7px;
	overflow: hidden;
	margin-right: 40px;
	box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.bar {
	height: 30px;
	width: 400px;
	background: repeating-linear-gradient(45deg, rgba(255,255,255,.9) 0, rgba(255,255,255,.9) 5px, transparent 5px, transparent 10px);
	animation-name: slide;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: 2;
	animation-direction: normal;
}

@keyframes slide {
	0% {
		margin-left: 0;
	}
	100% {
		margin-right: 100%;
	}
}